[submodule "LearnCUDA"]
	path = LearnCUDA
	url = git@github.com:zhbcolin/LearnCUDA.git
[submodule "LearnOpenMP"]
	path = LearnOpenMP
	url = git@github.com:zhbcolin/LearnOpenMP.git
[submodule "LearnMPI"]
	path = LearnMPI
	url = git@github.com:zhbcolin/LearnMPI.git
